<h1>All songs</h1>

<% @songs.each do |song| %>
  <span class=song-title><strong>Title: </strong><%= song.title %></span><br/>
  <span class=song-artist><strong>By: </strong><%= song.try(:artist).try(:name) %></span><br/>
  <span class=song-genre><strong>Genre: </strong><%= song.try(:genre).try(:name) %></span><br/><br/>
  <strong>Notes: </strong>
  <ul class=song-notes>
    <% song.try(:notes).try :each do |note| %>
      <li class=song-note><%= note.content %></li>
    <% end %>
  </ul>

<% end %>
